git submodule add https://github.com/Josue-Quevedo/Hakaton Hakaton
git submodule add https://github.com/Gancito898/Hackaton_GreenTech.git Hackaton_GreenTech
git submodule add https://github.com/akari2431/FireShield FireShield
git submodule add https://github.com/LeislaCV/healingtheearth_final healingtheearth_final
git submodule add https://github.com/Mini-Valeria/Hackaton Mini-Valeria-Hackaton
git submodule add https://github.com/Jorge-Abraham-Fraide/Smart-Honey-Web-App Smart-Honey-Web-App
git submodule add https://github.com/JAIRMINATOR/VitalCow VitalCow
git submodule add https://github.com/AlbieriK/wavecode.git wavecode
git submodule add https://github.com/Ivanroma12u3734/COWTRACK-MONDATA- COWTRACK-MONDATA
git submodule add https://github.com/vicklm/AgroFuturo AgroFuturo
git submodule add https://github.com/utm21040115/Methane-X.git Methane-X
git submodule add https://github.com/eduardoCorpus7193/opuntech-azle-hackathon.git opuntech-azle-hackathon
git submodule add https://github.com/Juander161/ICP-CredencialesReact ICP-CredencialesReact
git submodule add https://github.com/Sigill2003/AgroCF.git AgroCF
git submodule add https://github.com/Angel-crypt/hackathonRutaGanado hackathonRutaGanado
git submodule add https://github.com/GaboH4CK3D/TerraBoost.git TerraBoost
git submodule add https://github.com/CesarAlexisRodriguez/repo CesarAlexisRodriguez-repo
git submodule add https://github.com/Erikyisus09/TechnoQuarks.git TechnoQuarks
git submodule add https://github.com/Alex-Elleon/Agri-Track Agri-Track
git submodule add https://github.com/Geo290/Inventamovil Inventamovil
git submodule add https://github.com/CharlyNavarro/ezfarm ezfarm
git submodule add https://github.com/Ghumana/Sinergia_Agropecuaria Sinergia_Agropecuaria
